#gate {
  gap: 1em;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0%;
  input {
    font-size: 1.2rem;
  }
  left: 0%;
}
