@use "mixins" as *;
#p_read {
  #newsh {
    .banner {
      height: 700px;
      width: 100%;
      object-fit: cover;
      @include mq(768) {
        height: auto;
      }
    }
    .ban {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: #131214;
        mask-image: linear-gradient(to top, black, transparent);
        opacity: 1;
      }
    }
    .title-part {
      background: linear-gradient(to bottom, #272727, #131214);
      border-bottom: 1px solid white;
      box-shadow: 0px 10px 20px black;

      .confine {
        padding: 2em 0;

        .t {
          font-size: 3rem;
          @include mq(768) {
            font-size: 2.3rem;
          }
          @include mq(550) {
            font-size: 2rem;
          }
          @include mq(420) {
            font-size: 1.3rem;
          }
        }
        .b {
          display: flex;
          gap: 2em;
          align-items: center;
          margin-top: 1em;
          @include mq(550) {
            flex-wrap: wrap;
          }
          .tags {
            display: flex;
            gap: 1em;
            align-items: center;
            @include mq(550) {
              gap: 0.5em;
            }
            .d {
              color: #272727;
              @include mq(768) {
                width: 100%;
                flex-wrap: wrap;
              }
            }
            .btn {
              padding: 0.25em 1em;
              color: grey;
              border: 2px solid grey;
              border-radius: 1em;
            }
          }
        }
      }
    }
  }

  .decor-light {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    img {
      height: 50px;
      @include mq(559) {
        height: auto;
        width: 30%;
      }
    }
  }
  article {
    max-width: min(800px, 90%);
    // margin-top: 40px;
    @include mq(550) {
      font-size: 1rem;
    }
    img {
      width: 100%;
      height: auto;
      margin: 1em 0;
      filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.605));
    }
    p {
      margin: 1em 0;
      font-size: 1.2rem;
      line-height: 1.4;
      @include mq(550) {
        font-size: inherit;
      }
    }
  }
  .newsf {
    max-width: min(800px, 90%);
    filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.731));
    margin-top: 100px;
    @include mq(550) {
      max-width: 90%;
    }
    .rgb-line {
      width: 100%;
      height: 5px;
      background: linear-gradient(
        to right,
        var(--purp),
        var(--yell),
        var(--gre)
      );
      margin-top: 2em;
    }
    .panel {
      background: #232323;
      padding: 2em;
      display: flex;
      justify-content: space-between;
      gap: 1em;
      // clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 95% 100%, 0 100%);
      clip-path: polygon(0 0, 96% 0, 100% 10%, 100% 100%, 3% 100%, 0 88%);
      @include mq(420) {
        flex-wrap: wrap;
        flex-direction: row-reverse;
      }
      .btn-main {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        gap: 1em;
        @include mq(550) {
          font-size: 1rem;
        }
        @include mq(420) {
          width: 100%;
        }
      }
    }
  }
}
